@import 'tailwindcss';

h1 {
  @apply text-3xl font-bold text-gray-900;
}

h2 {
  @apply text-xl font-semibold text-gray-900;
}

h3 {
  @apply text-lg font-semibold text-gray-900;
}

h4 {
  @apply text-base font-medium text-gray-900;
}
